
upstream registry {
    server ${DOCKER_REGISTRY_HOST}:${DOCKER_REGISTRY_PORT};
}

server {
    listen 80 default_server;
    root /app;
    index index.html;

    client_max_body_size 600M;

    location / {
        try_files $uri /index.html;
    }

    location /v2/ {
        proxy_pass      http://registry/v2/;
        proxy_read_timeout 900;
    }
}